*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.33%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
    box-sizing: border-box;
}
.row:after{
    content: " ";
    clear: both;
    display: block;
}
.container{
}
ul{
    list-style-type: none;
}
.social-icon li{
    float: left;
}
@media screen and (max-width: 600px) {
    .demo{
        background-color: orangered;
    }
    [class*='col-']{
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .border-remove{
        border: none !important;
        width: 85%;
        margin-left: 5%;
    }
    .logo{
        margin: 0 auto;
        height: 150px;
        width: 150px;
    }
    .banner{
        text-align: center;
        width: 100%;
    }
    .social-icon{
        text-align: right;
        position: absolute;
        right: 10px;
        top:10px;
    }
}
